.bodySearch {
    background: url("../images/book9.jpg");
    background-size: 100%;
  }
  
  .searchContainer {
    margin: 270px;
    text-align: center;
  
  }
    
  #searchImg {
      width: 270px;
      height: 95px;
  
    }
    
  .search {
      width: 500px;
      height: 28px;
      border-top: 1px solid #bdbdbd;
      border-bottom: 1px solid #d3d3d3;
      border-right: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
      padding-right: 30px;
      font: 16px arial, sans-serif;
      text-indent:5px;   
      background-repeat:no-repeat;
      background-position:548px 4px;
      background-size:14px 19px;
      }
    
  .buttonSearch {
      border: 1px solid #d3d3d3;
      background: #f3f3f3;
      color:#696969;
      margin-left:4px;
      margin-right:4px;
      margin-top: 15px;
      font-family: arial, sans-serif;
      font-size: 11px;
      font-weight: bold;
      padding: 7px;
      border-radius:2px;
    }
    
  .buttonSearch:hover {
      color: #2a2a2a;
      border: 1px solid #bdbdbd;
    }